<footer>
  <div class="container">
    <div class="row text-md-left text-center">
      <div class="col-md-10">
        <h6 class="footer-title">Navigate</h6>
        <ul class="footer-links">
          <li><a href="#">Post a Watch Listing</a></li>
          <li><a href="#">Store</a></li>
          <li><a href="#">Buyer Disclaimer</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
      <div class="col-md">
        <h6 class="footer-title">Social</h6>
        <ul class="footer-social">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-12">
        <div class="row justify-content-md-between">
          <div class="col-md-6 text-md-left text-center">
            <p class="copyright">&copy; 2018 BezelHeads. All rights reserved.</p>
          </div>
          <div class="col-md-6 text-md-right text-center">
            <ul class="footer-links footer-links-2">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
